@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <h3>Agência de Viagens Destino Certo</h3>
    <p>Há 26 anos realizando seus sonhos e proporcionando suas melhores lembranças!</p>
</div>

<section>

    <div class="artigo">
        <div class="img-alinha">
            <img class="img" src="~/image/rio.jpg" alt="Imagem Rio" />
        </div>
        <article class="espaco">
            <h5 class="h5-centro">Rio de Janeiro</h5>
            <p class="justifica">
                O turismo no estado do Rio de Janeiro oferece diversas atrações históricas, 
                naturais e culturais. A capital fluminense é internacionalmente conhecida pela 
                beleza de suas praias e morros, além de ser um grande polo de turismo cultural, 
                contemplada por diversos museus, teatros e casas de espetáculos.
            </p>
        </article>
    </div>

    <div class="artigo">
        <div class="img-alinha">
            <img class="img" src="~/image/floripa.jpg" alt="Imagem Floripa" />
        </div>
        <article class="espaco">
            <h5 class="h5-centro">Florianópolis</h5>
            <p class="justifica">
                Não é à toa que a capital catarinense é conhecida como Ilha da Magia. A beleza natural 
                de Florianópolis encanta à primeira vista. São cerca de cem praias espalhadas pela ilha 
                costeira e na pequena península continental que formam a cidade. Há ainda muitas outras 
                atrações para se conhecer, como a bela e agitada Lagoa da Conceição, a tranquila Lagoa do Peri, 
                o tradicional Centro Histórico, a cosmopolita Avenida Beira-Mar.
            </p>
        </article>
    </div>

    <div class="artigo">
        <div class="img-alinha">
            <img class="img" src="~/image/salvador.jpg" alt="Imagem Floripa" />
        </div>
        <article class="espaco">
            <h5 class="h5-centro">Salvador</h5>
            <p class="justifica">
               Salvador é destino certo de muitos turistas que viajam pelo Brasil: a cidade é um museu vivo 
               da história e da diversidade que o nosso país oferece. Símbolo da mistura de credos e etnias, 
               a cultura que se formou na Bahia é rica, repleta de gente alegre e receptiva. A cultura baiana 
               é única,  forte em diversos aspectos e se destaca na culinária, na arquitetura e nas expressões 
               artísticas.
            </p>
        </article>
    </div>
    
</section>