@{
    ViewData["Title"] = "Promoções";
}
<h1 class="centraliza-texto">@ViewData["Title"]</h1>

<section class="promocoes">
    <div>
        <span>Na compra de 2 passagens</span>
        <img src="~/image/10.png" alt="10%" />
    </div>
    <div>
        <span>Na compra de 3 passagens</span>
        <img src="~/image/20.png" alt="20%" />
    </div>
    <div>
        <span>Na compra de 4 ou mais</span>
        <img src="~/image/30.png" alt="30%" />
    </div>
</section>
